.form-group {
    margin-bottom: 0px;
}

.invalidText {
    color     : #dc3545;
    text-align: left !important;
}

.ng-invalid.ng-touched {
    border-color: #dc3545;
}

.ng-valid.ng-touched {
    border-color: green;
}