<app-header></app-header>
<div class="row">
  <div class="col-md-12">
    <img src="../assets/images/fondo.jpg" class="fondo" alt="">
    <div class="portadaElements nombreUniversidad"><h1>Universidad Nacional Autonoma de México</h1></div>
    <div class="portadaElements nombreFacultad"><h1>Facultad de Estudios Superiores Aragon</h1></div>
    <div class="portadaElements nombreAlumno"><h1>Alumno: Reyes González Marco Antonio</h1></div>
    <div class="portadaElements nombreTrabajo"><h1>Extraordinario Ingeniería de software II</h1></div>
    <button type="button" class="btn btn-success portadaElements buttonProject" [routerLink]="['../consulta']">Ir a proyecto</button>  
    <button type="button" class="btn btn-primary portadaElements buttonDocumentation">Descargar documentación</button>  
  </div>
</div>