<app-header></app-header>
<div class="row">
  <div class="col-md-12">
    <!-- <img src="../assets/images/fondo.jpg" class="fondo" alt=""> -->
    <div class="text-center"><h1>Universidad Nacional Autónoma de México</h1></div>
    <div class="text-center"><h1>Facultad de Estudios Superiores Aragón</h1></div><br>
    <div><h2>Alumno: Reyes González Marco Antonio</h2></div>
    <div><h2>Extraordinario Ingeniería de software II</h2></div>
    <div><h2>Profesor: Aaron Velasco Agustin</h2></div><br>
    <div class="row">
      <div class="col-md-6 text-center">
        <button type="button" class="btn btn-success" [routerLink]="['../consulta']">Ir al proyecto</button>  
      </div>
      <div class="col-md-6 text-center">
        <button type="button" class="btn btn-primary">Descargar documentación</button>  
      </div>
    </div>
  </div>
</div>